@using System.Web.Security
@using System.Web.Mvc
@{
    var username = User.Identity.IsAuthenticated ? User.Identity.Name : null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-white text-gray-800">
    <header class="flex justify-between items-center p-4 shadow-md">
        <h1 class="text-2xl font-bold mr-4">
            <a href="/" class="hover:text-blue-500">Vinyl Records</a>
        </h1>
        <nav class="flex space-x-3 items-center">
            <ul class="flex space-x-3">
                <li><a href="/" class="hover:text-blue-500">Главная</a></li>
                <li><a href="/Home/Products" class="hover:text-blue-500">Товары</a></li>
                <li><a href="/Home/About" class="hover:text-blue-500">О нас</a></li>
                <li><a href="/Home/Cart" class="hover:text-blue-500">Корзина</a></li>
                <li><a href="/Home/Delivery" class="hover:text-blue-500">Доставка</a></li>
                <li><a href="/Home/Contacts" class="hover:text-blue-500">Контакты</a></li>
            </ul>

            @{
                bool isLoggedIn = ViewBag.IsLoggedIn != null && (bool)ViewBag.IsLoggedIn;
            }
            @if (isLoggedIn)
            {
                <span class="text-sm text-gray-700 mr-2">Здравствуйте, @ViewBag.Login!</span>
                <a href="#" onclick="logout()" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition">Выйти</a>
            }
            else
            {
                <a href="@Url.Action("Register", "Home")" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition">Регистрация</a>
                <a href="@Url.Action("Login", "Home")" class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition">Войти</a>
            }


        </nav>
    </header>

    <main class="p-4">
        @RenderBody()
    </main>

    <footer class="bg-black text-gray-400 py-4 mt-10">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="text-sm">
                2025 Vinyl Records Store. Все права защищены.
            </div>
            <div class="flex space-x-6 text-sm">
                <a href="#" class="hover:text-white">Условия предоставления услуг</a>
                <a href="#" class="hover:text-white">Политика конфиденциальности</a>
                <a href="#" class="hover:text-white">Обзор системы безопасности</a>
            </div>
        </div>
    </footer>
    <script>
        function logout() {
            localStorage.removeItem("login");
            localStorage.removeItem("password");
            window.location.href = "/Account/Logout";
        }
    </script>
</body>
</html>